body {
  text-align: center;
  background-color: #051e3e;
}

.flex-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.array-container {
  flex: 1;
  /* position: absolute;
  top: 5vh;
  left: 5vw;
  right: 5vw; */
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.button-row {
  /* position: absolute;
  bottom: -10vh !important;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100vw;
}

button {
  margin: 1em;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(rgb(240, 220, 200), rgb(230, 200, 160));
  color: #ed3330 !important;
  font-weight: bolder;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

label {
  color: white;
  font-size: 2em;
}

input {
  width: 4em;
  height: 3em;
  margin-left: 5px;
  text-align: center;
  display: inline-block;
}

/* Remove arrows from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*Typeface for "Merge Sort" */
.mergeSort__container {
  margin: 3em auto;
  /* position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%, 50%); */
}

.mergeSort {
  font-family: 'Six Caps', sans-serif;
  font-size: 160px;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  position: relative;
}

.mergeSort__top {
  background: linear-gradient(rgb(240, 220, 200), rgb(230, 200, 160));
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.mergeSort__bot {
  text-shadow: 
    2px 1px #ed3330,
    4px 2px #ed3330,
    6px 4px #ed3330,
    8px 5px #ed3330,
    10px 6px #ed3330,
    12px 7px #ed3330,
    14px 8px #ed3330,
    16px 9px black,
    18px 10px black,
    20px 11px black,
    22px 12px black,
    24px 13px black,
    28px 14px rgba(0, 0, 0, 0.9),
    30px 15px rgba(0, 0, 0, 0.7),
    32px 16px rgba(0, 0, 0, 0.5),
    34px 17px rgba(0, 0, 0, 0.3),
    36px 18px rgba(0, 0, 0, 0.1),
    40px 20px rgba(0, 0, 0, 0.1);
}

.length {
  color: white;
}

@media only screen and (max-width: 600px) {

  .array-container {
    /* position: absolute;
    top: -50vh;
    height: 30vh; */
  }

  .array-bar {
    /* height: 10vh !important; */
    height: 30vh;
  }

  .mergeSort__container {
    display: none !important;
    /* margin: 0 0 1em 0; */
    /* position: absolute;
    bottom: -42vh; */
    /* width: 90%; */
  }

  /* .mergeSort {
    font-size: 2em;
  }

  .mergeSort__top {
    /* left: 10vw !important; */
  } */

  button {
    /* transform: scale(0.5); */
    margin: 5px 0;
    padding: 0.5em;
    bottom: 0 !important;
  }

  .button-row {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%, 110%);
    width: 50%;
  }

  label {
    color: white;
    font-size: 1em;
    display: inline-block;
  }

  input {
    width: 2em;
    height: 1em;
    margin: 0 1em 0 0;
    font-size: 1em;
  }

  .length {
    font-size: 1em;
  }
}