body {
  text-align: center;
  background-color: #051e3e;
  max-height: 100vh !important;
}

.flex-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.array-container {
  flex: 1;
  height: 80% !important;
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.button-row {
  width: 100vw;
}

button {
  margin: 1em;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(rgb(240, 220, 200), rgb(230, 200, 160));
  color: var(--primary-color) !important;
  font-weight: bolder;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

label {
  color: white;
  font-size: 2em;
}

input {
  width: 4em;
  height: 3em;
  margin-left: 5px;
  text-align: center;
  display: inline-block;
}

/* Remove arrows from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/*Typeface for "Merge Sort" */
.mergeSort__container {
  margin: 3em auto;
}

.mergeSort {
  font-family: 'Six Caps', sans-serif;
  font-size: 160px;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  position: relative;
}

.mergeSort__top {
  background: linear-gradient(rgb(240, 220, 200), rgb(230, 200, 160));
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.length {
  color: white;
}

@media only screen and (max-width: 600px) {
  .array-container {
    position: absolute;
    top: -8vh;
    transform: scale(0.75);
  }

  .mergeSort__container {
    display: none;
  }

  button {
    margin: 5px 5px;
    padding: 0.5em;
    bottom: 0 !important;
  }

  .button-row {
    position: absolute;
    bottom: -7vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  label {
    color: white;
    font-size: 1em;
    display: inline-block;
  }

  input {
    width: 2em;
    height: 1em;
    margin: 0 0 0 1em;
    font-size: 1em;
  }

  .length {
    font-size: 1em;
  }
}
